Repository Octaforce/algorithm-study, pull requests merged in 2025-03, with the labels that each got.

#20 solved 연속합 2 - 252ms 25540KB
  Baekjoon/연속합 2/연속합 2_박수빈
Labels: Baekjoon - Gold5

#19 unsoved 2개의 사탕
  CodeTree/2개의 사탕/2개의 사탕_이정명.java
Labels: codetree - L15, JAVA

#17 solved LCS 2 - 208ms 24776kb
  Baekjoon/LCS 2/LCS 2_김예지.js
Labels: Baekjoon - Gold4, JAVASCRIPT

#16 solved 빗물 - 92ms 11272kb
  Baekjoon/빗물/빗물_김예지.js
Labels: Baekjoon - Gold5, JAVASCRIPT

#15 solved 연속합 2 - 128ms 44996kb
  Baekjoon/연속합-2/연속합-2_최근영.py
Labels: Baekjoon - Gold5, PYTHON

#12 solved LCS 2 - 156ms 18992KB
  Baekjoon/LCS 2/LCS 2_박수빈
Labels: Baekjoon - Gold4, JAVA

#10 solved 빗물 - 112ms 14292kb
  Baekjoon/빗물/빗물_박세건.java
Labels: Baekjoon - Gold5, JAVA

#9 solved 연속합 2 - 288ms 27704kb
  Baekjoon/연속합 2/연속합 2_박세건.java
Labels: Baekjoon - Gold5, JAVA

#8 solved 캠프준비 - 72ms 11776kb
  Baekjoon/캠프준비/캠프준비_이정명.java
Labels: Baekjoon - Gold5, JAVA

#6 solved 빗물 - 196ms 18556kb
  Baekjoon/빗물/빗물_이정명.java
Labels: Baekjoon - Gold5, JAVA

#11 solved LCS 2 - 200ms 47656kb
  Baekjoon/LCS 2/LCS 2_박세건.java
Labels: Baekjoon - Gold3, JAVA

#30 solved 가장 큰 정사각형 - 848ms 27836kb
  Baekjoon/가장 큰 정사각형/가장 큰 정사각형_박세건.java
Labels: JAVA, Medium

#31 solved 레이저 통신 - 176ms 20752kb
  Baekjoon/레이저 통신/레이저 통신_박세건.java
Labels: JAVA, Medium

#35 solved 뱀 - 120ms 15600kb
  Baekjoon/뱀/뱀_박세건.java
Labels: JAVA, Medium

#36 solved 가장 많이 받은 선물 26.60ms 112mb
  Programmers/가장 많이 받은 선물/가장 많이 받은 선물_박세건.java
Labels: JAVA, Easy

#39 solved 영역구하기 - 40ms 33432kb
  Baekjoon/영역구하기/영역구하기_이정명.java
  Baekjoon/영역구하기/영역구하기_이정명.py
Labels: JAVA, PYTHON, Easy

#40 solved 좋다 - 1408ms 32412kb
  Baekjoon/좋다/좋다_김예지.py
Labels: PYTHON, Easy

#41 solved 점프 점프 - 52ms 42660kb
  Baekjoon/점프 점프/점프 점프_이정명.py
Labels: PYTHON, Easy

#42 solved 어드벤처 게임 - 3192ms 45440mb
  Baekjoon/어드벤처 게임/어드벤처 게임_김예지.py
Labels: PYTHON, Medium

#43 solved 뱀 - 120ms 114292kb
  Baekjoon/뱀/뱀_김예지.py
Labels: PYTHON, Easy

#46 solved 영역 구하기 - 108ms 15208kb
  Baekjoon/영역 구하기/영역 구하기_박세건.java
Labels: JAVA, Easy

#48 solved 뱀 - 36ms 32412kb
  Baekjoon/뱀/뱀_이정명.java
  Baekjoon/뱀/뱀_이정명.py
Labels: JAVA, PYTHON, Medium, Easy

#49 solved 산 모양 타일링 - 6.64ms 97.9MB
  Programmers/산 모양 타일링/산 모양 타일링_박세건.java
Labels: JAVA, Medium

#50 solved 케빈 베이컨의 6단계 법칙 - 128ms 14936KB
  Baekjoon/케빈-베이컨의-6단계-법칙/케빈 베이컨의 6단계 법칙_박수빈
Labels: JAVA, Easy

#51 solved 트리 순회 - 104ms 14220KB
  Baekjoon/트리-순회/트리 순회_박수빈
Labels: JAVA, Easy

#52 solved 영역 구하기_박수빈 136ms 15960KB
  Baekjoon/영역 구하기/영역 구하기_박수빈
Labels: JAVA, Medium

#54 solved 사다리 - 72ms 11892kb
  Baekjoon/사다리/사다리_이정명.java
Labels: JAVA, Medium

#55 solved 특정한 최단 경로 - 508ms 70264kb
  Baekjoon/특정한 최단 경로/특정한 최단 경로_최근영.py
Labels: PYTHON, Medium

#60 solved 산 모양 타일링 - 22.00ms 85.8MB
  Programmers/산 모양 타일링/산 모양 타일링_이정명.java
Labels: JAVA, Medium

#59 solved 좋다 - 884ms 32412kb
  Baekjoon/좋다/좋다_이정명.py
Labels: PYTHON, Medium, Easy

#57 solved 어드벤처 게임 - 884ms 51492mb
  Baekjoon/어드벤처 게임/어드벤처 게임_이정명.java
Labels: JAVA, Medium, Easy

#56 read 트리 순회
  Baekjoon/트리 순회/트리 순회_박세건
Labels: JAVA, Easy

#62 solved 가장 많이 받은 선물 27.69ms 87.9mb
  Programmers/가장 많이 받은 선물/가장 많이 받은 선물_이정명.java
Labels: JAVA, Medium, Easy

#73 solved 도시 분할 계획 - 2144ms 353140kb
  Baekjoon/도시 분할 계획/도시 분할 계획_이정명.java
Labels: JAVA, Medium, Easy

#72 암호만들기 - 108ms 14224kb
  Baekjoon/암호 만들기/암호 만들기_박세건.java
Labels: JAVA, Easy

#71 solved DSLR - 2708ms 299284kb
  Baekjoon/DSLR/DSLR_이정명.java
Labels: JAVA, Medium, Easy

#63 solved 암호 만들기 - 84ms 11544kb
  Baekjoon/암호 만들기/암호 만들기_이정명.java
Labels: JAVA, Medium

#68 solved 호텔 - 72ms 11624kb
  Baekjoon/호텔/호텔_이정명.java
Labels: JAVA, Easy

#65 solved 암호 만들기 - 160ms 10980kb
  Baekjoon/암호 만들기/암호 만들기_김예지.js
Labels: JAVASCRIPT, Easy
