Repository Octaforce/algorithm-study, pull requests merged in 2025-06, with the labels that each got.

#201 unsolved 개똥벌레
  Baekjoon/개똥벌레/개똥벌레_박세건.java
Labels: JAVA, Hard, Medium

#200 solved 벽 부수고 이동하기 - 660ms 113724kb
  Baekjoon/벽 부수고 이동하기/벽 부수고 이동하기_박세건.java
Labels: JAVA, Easy

#199 solved 보물섬 - 500ms 221624kb
  Baekjoon/보물섬/보물섬_박세건.java
Labels: JAVA, Medium, Easy

#197 solved 개똥벌래 - 508ms 72296kb
  Baekjoon/개똥벌레/개똥벌레_이정명.py
Labels: PYTHON, Easy

#196 solved 개똥벌레 - 240ms 119240kb
  Baekjoon/개똥벌레/개똥벌레_김예지.py
Labels: PYTHON, Medium

#195 solved 벽 부수고 이동하기 - 444ms 218860kb
  Baekjoon/보물섬/보물섬_이정명.java
Labels: JAVA, Easy

#194 solved 벽 부수고 이동하기 - 520ms 109056kb
  Baekjoon/벽 부수고 이동하기/벽 부수고 이동하기_이정명.java
Labels: JAVA, Medium

#216 solved 최소비용 구하기 - 404ms 45944kb
  Baekjoon/최소비용 구하기/최소비용 구하기_이정명.java
Labels: JAVA, Easy

#215 solved 사이클 게임 - 648ms 125536kb
  Baekjoon/사이클 게임/사이클 게임_박수빈.java
Labels: JAVA

#213 solved 가운데를 말해요 - 220ms 39016kb
  Baekjoon/가운데를 말해요/가운데를 말해요_김예지.py
Labels: PYTHON, Hard

#207 solved 최소비용 구하기 - 372ms 40580kb
  Baekjoon/가운데를 말해요/가운데를 말해요_이정명.java
Labels: JAVA, Easy

#222 solved 나무 재테크 - 1160ms 296200kb
  Baekjoon/나무 재테크/나무 재테크_박세건.java
Labels: JAVA, Medium

#224 solved 상어 초등학교 - 244ms 25488kb
  Baekjoon/상어 초등학교/상어 초등학교_박세건.java
Labels: JAVA, Medium

#227 solved 수식 복원하기 - 0.54ms 9.5mb
  Programmers/수식 복원하기/수식 복원하기_김예지.py
Labels: PYTHON, Medium

#226 solved 상어 초등학교 - 272ms 32412kb
  Baekjoon/상어 초등학교/상어 초등학교_김예지.py
Labels: PYTHON, Medium

#221 solved 수식 복원하기 - 0.70ms 9440kb
  Programmers/수식 복원하기/수식 복원하기_이정명.py
Labels: PYTHON, Hard, Medium

#229 solved DSLR - 2608ms 308968kb
  Baekjoon/DSLR/DSLR_박세건.java
Labels: JAVA
